html {
  font-family: sans-serif;
}

body {
  background-color: #2d2d2c;
  color: #f0f0f0;
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}
